<div class="row">

  <div class="col-md-4 col-sm-10 mx-auto mt-2">
    <div class="about">
      <div class="row">
        <div class="col-12">
          <button type="button" routerLink="editaim" class="btn-edit float-right" skipLocationChange>Edit</button>
          <h3>Aim</h3>
        </div>
      </div>
    </div>
    <hr>
    <div class="about-body">
      <p>{{ about.aim }}</p>
    </div>
  </div>

  <div class="col-md-4 col-sm-10 mx-auto mt-2">
    <div class="about">
      <div class="row">
        <div class="col-12">
          <button type="button" routerLink="edithistory" class="btn-edit float-right" skipLocationChange>Edit</button>
          <h3>History</h3>
        </div>
      </div>
    </div>
    <hr>
    <div class="about-body">
      <p>{{ about.history }}</p>
    </div>
  </div>

  <div class="col-md-4 col-sm-10 mx-auto mt-2">
    <div class="about">
      <div class="row">
        <div class="col-12">
          <button type="button" routerLink="editphilosophy" class="btn-edit float-right" skipLocationChange>Edit</button>
          <h3>Philosophy</h3>
        </div>
      </div>
    </div>
    <hr>
    <div class="about-body">
      <p>{{ about.philosophy }}</p>
    </div>
  </div>

</div>